
.header {
    margin: -0.6% 0 0 -1%;
    width: 99.6%;
    background-color: #1579CE;
    padding: 1%;
    display: flex;
    position: relative;
    span {
        margin-top: 0.3%;
        color: #c7ddf5;
        font-family: sansation-font;
    }
    i {
        left: 39.5%;
        top: 25%;
        position: absolute;
        color: #1579CE;

    }
    input {
        color: #1579CE;
        margin-left: 35%;
        margin-top: -0.4%;
        padding: 0.6%;
        padding-left: 4%;
        width: 27%;
        border-radius: 0.1rem;
        border: none;
        background-color: #c7ddf5;
    }
}

