<div class="task-component">
    <div class="todo-task-list">
        <a class="info">
            <div class="task-title">
                <input class="task-title-input" type="text" [(ngModel)]="list.name" (keyup)="updateList($event)"/>
            </div>
        </a>
        <div *ngFor = "let task of list.tasks">
            <div class="added-task">
                <div (click)="finishTask(task)">
                    <a *ngIf = "!task.isComplete">
                        <i class='material-icons tick-icon'>check_circle_outline</i>
                    </a>
                    <a *ngIf = "task.isComplete">
                        <i class='material-icons tick-icon'>check_circle</i>
                    </a>
                </div>
                <div class="task-name" [ngClass]="task.isComplete ? 'strike-text' : 'strike-none'" (click)="changeTask(task)">
                        <p>{{task.name}}</p>
                </div>
                <div>{{task.subTasks.length}}</div>
            </div>
        </div>
        <div class="add-new-task">
            <a>
                <i class="material-icons new-task-icon">add</i>
            </a>
            <input #addNewTask class="add-task-input" type="text" 
                placeholder="Add task" (keyup.enter)="addTask(addNewTask)"/>   
        </div>
    </div>
    <div class="task-info" [ngClass]="list.alignSubTask ? 'align-margin' : 'remove-margin'">
        <app-sub-task [task]="currentTask" [list] = "list"></app-sub-task>
    </div>
</div>
