.task-component {
    display: flex;
}

input:hover {
    background-color: #f4f4f4;
    border: none;
}

.task-info {
    margin-left: 115%;
}

.task-header {
    width: 84%;
    background-color: white;
    margin: 3% 0 0 3%;
    padding: 5%;
    display: flex
}

.mark-complete-btn {
    margin-top: 1%;
    width: 6%;
    height: 1rem;
    border-radius: 70%;
    border-width: thin;
    border-color: #468be0;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.task-header span {
    margin: -5% 0 0 5%;
}


.info {
    cursor: pointer;
}

.task-title {
    font-size: 1.5rem;
    margin: 3% 0 0 3%;
    color: #1579CE;
    font-family: sans-serif;
}

.added-task {
    color: #1579CE;
    margin: 2% 0 0 3%;
    width: 250%;
    display: flex;
    padding-top: 5%;
    cursor: pointer;
    border-color: #50504cfa;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

:host {
    width: 40%;
}
.add-new-task {
    color: #1579CE;
    margin: 2% 0 0 3%;
    width: 250%;
    display: flex;
    padding-bottom: 3%;
    border-color: #50504cfa;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.new-task-icon {
    margin-top: 30%;
    color: #1579CE;
    text-decoration: none;
}

.add-task-input {
    width: 250%;
    padding: 1%;
    font-size: 1rem;
    margin: 0 0 0 1%;
    border: none;
    outline: none;
    background: transparent;
}

.add-task-input::placeholder {
    color: #1579CE;
}

.add-task-input:focus::placeholder {
    color: #50504cfa;
}

.tick-icon {
    margin: 0 0 0 3%;
    color: #1579CE;
    display: inline;
    cursor: pointer;
}

.task-name {
    margin: -2% 0 0 3%;
    width: 90%;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    outline:none;
    border: none;
}

.strike-text {
    text-decoration: line-through;
}

.strike-none {
    text-decoration: none;
}

.task-title-input {
    margin: 0.5% 0 0 2%;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    outline:none;
    border: none;
}

.task-info-input {
    margin-top: -2%;
    margin-left: 5%;
    padding: 4%;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    outline:none;
    border: none;
}

.task-info-title {
    color: #1579CE;
}

.side-bar-width {
    width: 4%;
}

.strike-text {
    text-decoration: line-through;
}

.strike-none {
    text-decoration: none;
}

.view-element {
    display: block;
}

.align-margin {
    margin-left : 127.5%;
}

.remove-margin {
    margin-left: 90%;
}