<div class="main-frame">
    <div id="side-nav-bar" class="menu-bar">
        <div class="menu-icon">
            <button class="menu-btn" id="icon" value="open" (click)="toggleMenu()">
                <i class="material-icons" >menu</i>
            </button>
        </div>
        <div class="side-div">  
            <div class="side-menu-icon">
                <div class="day-icon"></div>
            </div>
            <div class="icon-desc" [ngClass]="status ? 'display' : 'view-element'">
                <a href="" class="icon-description">My Day</a>
            </div>
        </div>    	
        <div class="side-div">
            <div class="side-menu-icon">
                <div class="important-icon"></div>
            </div>
            <div class="icon-desc" [ngClass]="status ? 'display' : 'view-element'">
                <a href="" class="icon-description">Important</a>
            </div>
        </div>
        <div class="side-div"> 
            <div  class="side-menu-icon">
                <div class="plan-icon"></div>
            </div>
            <div class="icon-desc" [ngClass]="status ? 'display' : 'view-element'">
                <a href="" class="icon-description">Planned</a>
            </div>
        </div>    
        <div class="side-div">
            <div class="side-menu-icon" >
                <div class="home-icon"></div>
            </div>
            <div id="task-desc" class="task-desc" [ngClass]="status ? 'display' : 'view-element'">    
                <p class="action-description">Tasks</p>
            </div>
        </div>
        <div *ngFor="let list of lists" [ngClass]="status ? 'display' : 'view-element'">
            <div class="created-list" (click)="changeList(list)">
                <div><img class="add-new-list" src="../../assets/icon/list.png"></div>
                <div class="list-name"><p>{{list.name}}</p></div>
            </div>
        </div>
        <div class="side-div"> 
            <div class="side-menu-icon" >
                <div id="new-list" class="add-icon new-list-icon"></div>
            </div>
            <div class="new-list-input" [ngClass]="status ? 'display' : 'view-element'">
                <input #addListInput type="text" class="new-list" 
                    placeholder="New List" (keyup.enter)="addList(addListInput)"/>
            </div>
        </div>
    </div>
    <task [list]="currentList"></task>
</div>

