$theme-color: #1579CE;
$background-theme: #f4f4f4;
$font-size: 0.9rem;

@mixin set-Style( $width: none , $height: none , $display: block ) {
    width: $width;
    height: $height;
    display: $display;
}

@mixin set-Icon($icon:'img'){
    background-image: url("../../assets/icon/"+$icon);
    background-size: contain;
    background-repeat: no-repeat;
}

.main-frame {
    display: flex;
    flex-wrap:nowrap;
}

.menu-bar {
    @include set-Style(19%, 38rem);
    background-color: $background-theme;
    border-width: thin;
    overflow: auto;
}

.menu-icon {
    color: $theme-color;
    margin-top: 10px;
    height: 3rem;
    cursor: pointer;
    button {
        background-color: $background-theme;
        cursor: pointer;
        border: none;
        outline: none;
        margin: 8px 0 0 5px;
    }
}

.side-div {
    display: flex;
    cursor: pointer;
    a {
        color: #50504cfa;
        margin: 2% 0 0 2%;
        font-size: $font-size;
        font-family: sans-serif;
        text-decoration: none;
    }
    p {
        margin: 3% 0 0 5%;
        font-size: $font-size;
        font-family: sans-serif;
        text-decoration: none;
        cursor: pointer;
    }
}


.side-menu-icon {
    @include set-Style(20px, 3rem);
    margin-left: 12px;
}


.icon-desc {
    @include set-Style(100px, 3rem);
    color: #50504cfa;
    margin-left: 15px;
}

.task-desc {
    @include set-Style(none, 3rem);
    color: #50504cfa;
    margin-left: 15px;
    cursor: pointer;
}

.side-menu-action {
    @include set-Style(none, 3rem, flex);
    color: #468be0;
    margin: 15% 0 0 25%;
}

.add-new-list {
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
    margin: 32% 0 0 27%;
    height: 25px;
}


.new-list {
    background: transparent;
    width: 100px;
    font-size: $font-size;
    border: none;
    color: #75756ff0;
    padding: 2%;
    padding-left: 16%;
    outline: none;
}

.new-list::placeholder {
    color: $theme-color;
}

.new-list:focus::placeholder {
    color: #50504cfa;
}

.list-icon {
    margin: 100% 0 0 0;
}

.new-list-icon {
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
    height: 20px;
}

input:hover {
    background-color: $background-theme;
    border: none;
}

.info {
    cursor: pointer;
}

.created-list {
    display: flex;
    cursor: pointer;
}

.list-name {
    width: 65%;
    font-size: $font-size;
    margin: -2% 0 0 10%;
}

.task-info-title {
    color: $theme-color;
}

.task-count{
    margin-top: 5%;
    font-size: $font-size;
}

.created-lists {
    display: flex;
}

.lists {
    margin: 14% 0  0 18%;
}

.display {
    display: none;
}

.side-bar-width {
    transition: 0.5s;
    width: 4%;
}

.day-icon {
    @include set-Icon('day.png');
    @include set-Style(100px, 1.2rem);
}

.important-icon {
    @include set-Icon('important.png');
    @include set-Style(100px, 1.2rem);
}

.plan-icon {
    @include set-Icon('today.png');
    @include set-Style(100px, 1.2rem);
}

.home-icon {
    @include set-Icon('home.png');
    @include set-Style(100px, 1.2rem);
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
}

.add-icon {
    @include set-Icon('add.png');
    @include set-Style(30px, 1.2rem);
}

.strike-text {
    text-decoration: line-through;
}

.strike-none {
    text-decoration: none;
}

.view-element {
    display: block;
}

.left-bar-width {
    transition: 0.5s;
    width: 19%;
}
    
.default-task-count {
    margin: 0.7% 0 0 49%;
    font-size: $font-size;
}

.important-task-count {
    margin: 0.7% 0 0 25%;
    font-size: $font-size;
}