
.side-div {
    display: flex;
    cursor: pointer;
}

.main-frame {
    display: flex;
    flex-wrap:nowrap;
}

.menu-bar-icon {
    margin-left: -0.5%;
    width: 3%;
    background-color: #f4f4f4;
    border-width: thin;
    height: 38rem;
}

.menu-bar {
    width: 19%;
    display: block;
    background-color: #f4f4f4;
    border-width: thin;
    height: 38rem;
    overflow: auto;
}

.menu-btn {
   background-color: #f4f4f4;
   cursor: pointer;
   border: none;
   outline: none;
   margin: 8px 0 0 5px;
}

.menu-icon {
    color: #1579CE;
    margin-top: 10px;
    height: 3rem;
    cursor: pointer;
}

.side-menu-icon {
	width: 20px;
    height: 4rem;
    display: block;
    margin-left: 12px;
}


.icon-desc {
    color: #50504cfa;
    height: 4rem;
    width: 100px;
    display: block;
    margin-left: 15px;
}

.task-desc {
    color: #50504cfa;
    height: 4rem;
    display: block;
    margin-left: 15px;
    cursor: pointer;
}

.icon-description {
	color: #50504cfa;
	margin: 0 0 0 2%;
	font-family: sans-serif;
	text-decoration: none;
}

.icon-description:hover {
    background-color: #75756ff0;
}

.side-menu-action {
    color: #468be0;
    height: 4rem;
    margin: 15% 0 0 25%;
    display: flex;
}

.action-description {
    color: #468be0;
    margin: 1% 0 0 5%;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.add-new-list {
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
    margin: 32% 0 0 27%;
    height: 25px;
}


.new-list {
    background: transparent;
    width: 100px;
    font-size: 0.9rem;
    border: none;
    color: #75756ff0;
    padding: 2%;
    padding-left: 16%;
    outline: none;
}

.new-list::placeholder {
    color: #1579CE;
}

.new-list:focus::placeholder {
    color: #50504cfa;
}

.list-icon {
    margin: 100% 0 0 0;
}

.new-list-icon {
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
    height: 20px;
}

input:hover {
    background-color: #f4f4f4;
    border: none;
}

.task-header {
    width: 84%;
    background-color: white;
    margin: 3% 0 0 3%;
    padding: 5%;
    display: flex
}

.task-header span {
    margin: -5% 0 0 5%;
}

.add-my-day {
    width: 85%;
    background-color: white;
    padding: 5%;
    margin: 5% 0 0 3%;
    display: flex;
}

.right-bar-icon {
    font-size: 1rem;
    margin: 1% 0 0 2%; 
    color: #80889c;
}

.add-my-day span {
    color: #80889c;
    font-size: 0.9rem;
    margin-left: -28%;
}
.minimize { 
    font-size:  1rem;
    margin: 1% 0 0 2%;
    cursor: pointer;
}

.info {
    cursor: pointer;
}

.created-list {
    display: flex;
    cursor: pointer;
}

.list-name {
    width: 65%;
    margin: -2% 0 0 10%;
}
.step {
    color: #1579CE;
    font-size: 1rem;
    margin: 1.9% 0 0 10%; 
}

.steps {
    width: 84%;
    margin-left: 3%;
    padding: 2%;
    padding-left: 8%;
    background-color: white;
}

.task-info-title {
    color: #1579CE;
}

.task-count{
    margin-top: 5%;
}

.created-lists {
    display: flex;
}

.lists {
    margin: 14% 0  0 18%;
}

.delete-step {
    color: #1579CE;
    margin-top: 1%; 
    margin-left: 70%;
    display: none;
    cursor: hover
}

.display {
    display: none;
}

.side-bar-width {
    width: 4%;
}

.day-icon {
    background-image: url("../../assets/icon/day.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
}

.important-icon {
    background-image: url("../../assets/icon/important.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
}

.plan-icon {
    background-image: url("../../assets/icon/today.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
}

.home-icon {
    background-image: url("../../assets/icon/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
    filter: invert(39%) sepia(95%) saturate(2411%) hue-rotate(167deg) brightness(103%) contrast(101%);
}

.add-icon {
    background-image: url("../../assets/icon/add.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 30px;
}

.alarm-icon {
    background-image: url("../../assets/icon/alarm.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
}

.repeat-icon {
    background-image: url("../../assets/icon/repeat.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 100px;
}

.strike-text {
    text-decoration: line-through;
}

.strike-none {
    text-decoration: none;
}

.view-element {
    display: block;
}

.left-bar-width {
    width: 19%;
}